Repository nestauk/discovery_mission_radar_prototyping: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yamllint, bandit

black:
  name: Run Black
  entry: poetry run black
  language: system
  stages:
  - pre-commit

isort:
  name: Run Isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

flake8:
  name: Run Flake8
  entry: poetry run pflake8
  language: system
  stages:
  - pre-commit

yamllint:
  name: Run Yamllint
  entry: poetry run yamllint
  language: system
  stages:
  - pre-commit

bandit:
  name: Run Bandit
  entry: poetry run bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - --severity-level
  - all
  - --confidence-level
  - all
  - --quiet
  - --format
  - custom
  stages:
  - pre-commit

search recipe
  .gitignore
  notebooks/policy_scanning/00_checking_Hansard.ipynb
  notebooks/searches/00_tutorial_searches.ipynb
  notebooks/searches/search_config_1.yaml
  pyproject.toml
Due: yamllint

cybersec search notebook
  .gitignore
  notebooks/policy_scanning/00_checking_Hansard.ipynb
  notebooks/searches/01_cybersec/config.yaml
  notebooks/searches/01_cybersec/cybersec_search.ipynb
  notebooks/searches/search_config_1.yaml
  src/search.py
Due: black, isort, flake8, yamllint, bandit

improving docstrings
  notebooks/searches/01_cybersec/cybersec_search.ipynb
  src/search.py
Due: black, isort, flake8, bandit

people search
  README.md
  notebooks/searches/01_cybersec/cybersec_search.ipynb
Due: none

Update README.md
  README.md
Due: none

testing analysis utils
  notebooks/searches/01_cybersec/cybersec_analysis_example.ipynb
  pyproject.toml
Due: none

clearing outputs
  notebooks/searches/01_cybersec/cybersec_analysis_example.ipynb
Due: none

fix: deduplication bug
  notebooks/searches/01_cybersec/cybersec_analysis_example.ipynb
  notebooks/searches/01_cybersec/cybersec_search.ipynb
  src/search.py
  update_discovery_utils.sh
Due: black, isort, flake8, bandit

fix: deduplication bug
  update_discovery_utils.sh
Due: none

copying search config file
  notebooks/2024_12_MS_cybersecurity/config.yaml
Due: yamllint

feat: exploring summarisation and slack
  notebooks/policy_scanning/00_checking_Hansard copy.ipynb
  notebooks/policy_scanning/01_Slack_messages.ipynb
  notebooks/searches/00_tutorial_searches.ipynb
  notebooks/searches/01_cybersec/cybersec_analysis_example.ipynb
  notebooks/searches/01_cybersec/cybersec_search.ipynb
  pyproject.toml
  src/synthesis_config.yaml
  src/synthesis_utils.py
Due: black, isort, flake8, yamllint, bandit

saving changes
  notebooks/policy_scanning/00_checking_Hansard.ipynb
Due: none

feat: adding python version file
  .python-version
Due: none

first commit
  notebooks/2024_12_MS_cybersecurity/natalie_cybersec_analysis.ipynb
Due: none

feat: update discovery_utils
  pyproject.toml
Due: none

first prototype
  notebooks/policy_scanning/00_checking_Hansard.ipynb
  src/synthesis_config.yaml
  src/synthesis_utils.py
Due: black, isort, flake8, yamllint, bandit

generating stats
  notebooks/2024_12_MS_cybersecurity/config.yaml
  notebooks/2024_12_MS_cybersecurity/kk_cybersec_search.ipynb
Due: yamllint

checking newest updates
  notebooks/policy_scanning/00_checking_Hansard.ipynb
Due: none

generating charts
  notebooks/2024_12_MS_cybersecurity/kk_01_cybersec_search.ipynb
  notebooks/2024_12_MS_cybersecurity/kk_02_cybersec_analysis.ipynb
Due: none

new notebooks
  notebooks/2024_12_MS_cybersecurity/kk_03_cybersec_ukri.ipynb
  notebooks/2024_12_MS_cybersecurity/kk_04_cybersec_vis.ipynb
Due: none

new update
  notebooks/policy_scanning/00_checking_Hansard.ipynb
Due: none

initial commit
  notebooks/2025_01_MS_ahl/config.yaml
  notebooks/2025_01_MS_ahl/kk_01_visualising_landscape.ipynb
Due: yamllint

update
  notebooks/policy_scanning/00_checking_Hansard.ipynb
Due: none

llm data check class
  notebooks/2024_12_MS_cybersecurity/kk_04_cybersec_vis.ipynb
  notebooks/2024_12_MS_cybersecurity/kk_04_llm_data_check.ipynb
  src/llm_data_check.py
Due: black, isort, flake8, bandit

factoring into discovery_utils
  notebooks/2024_12_MS_cybersecurity/kk_04_llm_data_check.ipynb
  pyproject.toml
  src/llm_data_check.py
Due: black, isort, flake8, bandit

testing discovery_utils viz_landscape
  notebooks/2025_01_MS_ahl/config.yaml
  notebooks/2025_01_MS_ahl/config_food.yaml
  notebooks/2025_01_MS_ahl/config_obesity.yaml
  notebooks/2025_01_MS_ahl/kk_01_visualising_landscape copy.ipynb
  notebooks/2025_01_MS_ahl/kk_01_visualising_landscape.ipynb
  notebooks/2025_01_MS_ahl/kk_02_ukri_analysis.ipynb
  notebooks/2025_01_policy_atlas/kk_01_vectors.ipynb
  pyproject.toml
Due: yamllint

testing discovery_utils viz_landscape
  notebooks/2025_01_MS_ahl/kk_01_visualising_landscape copy.ipynb
  notebooks/2025_01_MS_ahl/kk_01_visualising_landscape.ipynb
  notebooks/2025_01_MS_ahl/kk_02_ukri_analysis.ipynb
Due: none

refactoring
  notebooks/policy_scanning/00_checking_Hansard copy.ipynb
Due: none

searching with config
  notebooks/2025_01_MS_ahl/config_MS_glp1.yaml
  notebooks/2025_01_MS_ahl/kk_03_search_companies_with_config.ipynb
Due: yamllint

landscapes and extra stats
  notebooks/2025_01_MS_ahl/config_MS_challenger_brands.yaml
  notebooks/2025_01_MS_ahl/config_MS_child_obesity.yaml
  notebooks/2025_01_MS_ahl/config_MS_food_as_medicine.yaml
  notebooks/2025_01_MS_ahl/config_MS_future_of_ag.yaml
  notebooks/2025_01_MS_ahl/config_MS_glp1.yaml
  notebooks/2025_01_MS_ahl/config_MS_hormonal_dysregulation.yaml
  notebooks/2025_01_MS_ahl/kk_03_search_companies_with_config.ipynb
  notebooks/2025_01_MS_ahl/kk_04_landscapes.ipynb
  pyproject.toml
Due: yamllint

MS AHL sprint analysis
  notebooks/2025_01_MS_ahl/config_MS_challenger_brands.yaml
  notebooks/2025_01_MS_ahl/config_MS_child_obesity.yaml
  notebooks/2025_01_MS_ahl/config_MS_food_as_medicine.yaml
  notebooks/2025_01_MS_ahl/config_MS_future_of_ag.yaml
  notebooks/2025_01_MS_ahl/config_MS_glp1.yaml
  notebooks/2025_01_MS_ahl/config_MS_hormonal_dysregulation.yaml
  notebooks/2025_01_MS_ahl/kk_03_search_companies_with_config.ipynb
  notebooks/2025_01_MS_ahl/ww_01_visualising_landscape.ipynb
Due: yamllint

adjusting notebook
  notebooks/2025_01_MS_ahl/kk_04_landscapes.ipynb
Due: none

asf scoping config files
  notebooks/2025_02_MS_asf/config_bioenergy.yaml
  notebooks/2025_02_MS_asf/config_biomass_heating.yaml
  notebooks/2025_02_MS_asf/config_built_environment.yaml
  notebooks/2025_02_MS_asf/config_ccus.yaml
  notebooks/2025_02_MS_asf/config_decarbonisation_general.yaml
  notebooks/2025_02_MS_asf/config_district_heating.yaml
  notebooks/2025_02_MS_asf/config_energy_efficiency.yaml
  notebooks/2025_02_MS_asf/config_energy_grid.yaml
  notebooks/2025_02_MS_asf/config_energy_storage.yaml
  notebooks/2025_02_MS_asf/config_geothermal_energy.yaml
  notebooks/2025_02_MS_asf/config_green_skills.yaml
  notebooks/2025_02_MS_asf/config_heat_pumps.yaml
  notebooks/2025_02_MS_asf/config_heat_storage.yaml
  notebooks/2025_02_MS_asf/config_hydrogen_energy.yaml
  notebooks/2025_02_MS_asf/config_hydrogen_heating.yaml
  notebooks/2025_02_MS_asf/config_micro_chp.yaml
  notebooks/2025_02_MS_asf/config_renewables_general.yaml
  notebooks/2025_02_MS_asf/config_solar.yaml
  notebooks/2025_02_MS_asf/config_solar_thermal.yaml
  notebooks/2025_02_MS_asf/config_wind.yaml
Due: yamllint

AHL scan
  notebooks/2025_01_MS_ahl/kk_04_landscapes.ipynb
  notebooks/2025_02_MS_ahl_v2/cb_landscape_manumatch.html
  notebooks/2025_02_MS_ahl_v2/cb_landscape_nutriform.html
  notebooks/2025_02_MS_ahl_v2/cb_landscape_streak.html
  notebooks/2025_02_MS_ahl_v2/config_manumatch.yaml
  notebooks/2025_02_MS_ahl_v2/config_nutriform.yaml
  notebooks/2025_02_MS_ahl_v2/config_streak.yaml
  notebooks/2025_02_MS_ahl_v2/scan_companies.ipynb
  notebooks/2025_02_MS_asf/config_bioenergy.yaml
  notebooks/2025_02_MS_asf/config_biomass_heating.yaml
  notebooks/2025_02_MS_asf/config_built_environment.yaml
  notebooks/2025_02_MS_asf/config_ccus.yaml
  notebooks/2025_02_MS_asf/config_decarbonisation_general.yaml
  notebooks/2025_02_MS_asf/config_district_heating.yaml
  notebooks/2025_02_MS_asf/config_energy_efficiency.yaml
  notebooks/2025_02_MS_asf/config_energy_grid.yaml
  notebooks/2025_02_MS_asf/config_energy_storage.yaml
  notebooks/2025_02_MS_asf/config_geothermal_energy.yaml
  notebooks/2025_02_MS_asf/config_green_skills.yaml
  notebooks/2025_02_MS_asf/config_heat_pumps.yaml
  notebooks/2025_02_MS_asf/config_heat_storage.yaml
  notebooks/2025_02_MS_asf/config_hydrogen_energy.yaml
  notebooks/2025_02_MS_asf/config_hydrogen_heating.yaml
  notebooks/2025_02_MS_asf/config_micro_chp.yaml
  notebooks/2025_02_MS_asf/config_renewables_general.yaml
  notebooks/2025_02_MS_asf/config_solar.yaml
  notebooks/2025_02_MS_asf/config_solar_thermal.yaml
  notebooks/2025_02_MS_asf/config_wind.yaml
  notebooks/2025_02_MS_asf/kk_01_charts.ipynb
  notebooks/2025_02_MS_asf/kk_02_produce_charts.ipynb
  pyproject.toml
  src/utils.py
Due: black, isort, flake8, yamllint, bandit

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  bandit: any of: \.py$
