Repository nestauk/discovery_mission_radar_prototyping: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yamllint, bandit

black:
  name: Run Black
  entry: poetry run black
  language: system
  stages:
  - pre-commit

isort:
  name: Run Isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

flake8:
  name: Run Flake8
  entry: poetry run pflake8
  language: system
  stages:
  - pre-commit

yamllint:
  name: Run Yamllint
  entry: poetry run yamllint
  language: system
  stages:
  - pre-commit

bandit:
  name: Run Bandit
  entry: poetry run bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - --severity-level
  - all
  - --confidence-level
  - all
  - --quiet
  - --format
  - custom
  stages:
  - pre-commit

AHL scan
  notebooks/2025_02_MS_ahl_v2/cb_landscape_manumatch.html
  notebooks/2025_02_MS_ahl_v2/cb_landscape_nutriform.html
  notebooks/2025_02_MS_ahl_v2/cb_landscape_streak.html
Due: none

work for CW and MS
  notebooks/2025_01_MS_ahl/kk_02_ukri_analysis.ipynb
  notebooks/2025_02_MS_challenge_works/config_ai_healthcare.yaml
  notebooks/2025_02_MS_challenge_works/scan_companies.ipynb
  pyproject.toml
Due: yamllint

feat: working on mission radar data outputs
  notebooks/2024_12_MS_cybersecurity/kk_02_cybersec_analysis.ipynb
  notebooks/2025_01_MS_ahl/kk_03_search_companies_with_config.ipynb
  notebooks/2025_02_MS_asf/kk_01_charts.ipynb
  notebooks/2025_02_MS_asf/kk_01_prep_data_cb.ipynb
  notebooks/2025_02_MS_asf/kk_01_prep_data_gtr.ipynb
  notebooks/2025_02_MS_asf/kk_02_mission_studio.ipynb
  notebooks/2025_02_MS_asf/kk_02_produce_charts.ipynb
  notebooks/2025_02_MS_asf/kk_03_mission_radar_cb.ipynb
  notebooks/2025_02_MS_asf/kk_03_mission_radar_gtr.ipynb
  notebooks/2025_02_MS_asf/kk_03_mission_radar_hansard.ipynb
  notebooks/2025_02_MS_asf/kk_04_radar_charts.ipynb
  notebooks/2025_02_MS_asf/kk_04_upload_tables.ipynb
  src/utils.py
Due: black, isort, flake8, bandit

pushing up notebooks
  notebooks/2025_02_MS_asf/kk_01_prep_data_cb.ipynb
  notebooks/2025_02_MS_asf/kk_01_prep_data_cb_v2.ipynb
  notebooks/2025_02_MS_asf/kk_01_prep_data_gtr.ipynb
  notebooks/2025_02_MS_asf/kk_01_prep_data_gtr_v2.ipynb
  notebooks/2025_02_MS_asf/kk_03_mission_radar_cb.ipynb
  notebooks/2025_02_MS_asf/kk_03_mission_radar_gtr.ipynb
  notebooks/2025_02_MS_asf/kk_03_mission_radar_hansard.ipynb
  notebooks/2025_02_MS_asf/kk_04_radar_charts.ipynb
  notebooks/2025_02_MS_asf/kk_04_upload_tables.ipynb
  notebooks/2025_02_MS_asf/kk_05_refine_labelling.ipynb
  notebooks/2025_02_MS_asf/kk_05_refine_labelling.py
  pyproject.toml
  src/utils.py
Due: black, isort, flake8, bandit

AHL config files
  notebooks/2025_06_AHL_Q2/config_alt_protein_general.yaml
  notebooks/2025_06_AHL_Q2/config_cloud_kitchen.yaml
  notebooks/2025_06_AHL_Q2/config_delivery_apps.yaml
  notebooks/2025_06_AHL_Q2/config_fermentation.yaml
  notebooks/2025_06_AHL_Q2/config_food_advertisement_innovation.yaml
  notebooks/2025_06_AHL_Q2/config_food_tech_general.yaml
  notebooks/2025_06_AHL_Q2/config_glp1_innovation.yaml
  notebooks/2025_06_AHL_Q2/config_health_general.yaml
  notebooks/2025_06_AHL_Q2/config_insects.yaml
  notebooks/2025_06_AHL_Q2/config_kitchen_tech.yaml
  notebooks/2025_06_AHL_Q2/config_lab_meat.yaml
  notebooks/2025_06_AHL_Q2/config_meal_kits.yaml
  notebooks/2025_06_AHL_Q2/config_personalised_nutrition.yaml
  notebooks/2025_06_AHL_Q2/config_plant_based.yaml
  notebooks/2025_06_AHL_Q2/config_reformulation_fat.yaml
  notebooks/2025_06_AHL_Q2/config_reformulation_fiber.yaml
  notebooks/2025_06_AHL_Q2/config_reformulation_general.yaml
  notebooks/2025_06_AHL_Q2/config_reformulation_salt.yaml
  notebooks/2025_06_AHL_Q2/config_reformulation_sugar.yaml
  notebooks/2025_06_AHL_Q2/config_restaurants.yaml
  notebooks/2025_06_AHL_Q2/config_retail.yaml
  notebooks/2025_06_AHL_Q2/config_supply_chain.yaml
  notebooks/2025_06_AHL_Q2/config_weight.yaml
Due: yamllint

adjustments
  notebooks/2025_06_AHL_Q2/config_food_advertisement.yaml
  notebooks/2025_06_AHL_Q2/config_weight_loss_drugs.yaml
Due: yamllint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  bandit: any of: \.py$
